@font-face {
    font-family: "Outfit-Bold";
    src: url("../../css/Outfit-Bold.otf");
}

@font-face {
    font-family: "Outfit-Light";
    src: url("../../css/Outfit-Light.otf");
}
body{
    /* background: #636564; */
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Outfit-Light, sans-serif;
}
.logo {
    position: fixed;
    /*font-family: "Roboto";*/
    font-family: Outfit-Bold, sans-serif;
    line-height: 80px;
    margin-left: 2em;
    color: #0a0a0a;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: lighter !important;
    /*text-transform: uppercase;*/
    z-index: 1;
    
}
.logo ion-icon {
    color: #6adb9d; 
    margin-right: 7px;
    position: relative;
    top: 1px;
    z-index: 1;
}
.logo a{
    color: #0a0a0a;
    text-decoration: none;
    
}
.logo-img{
    color: #6adb9d;
    margin-right: 7px;
    position: relative;
    top: 1px;
    z-index: 1;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
a{
    color: rgb(200,200,200);
    text-decoration: none;
}
.title{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 15vh;
    color: #222;
    transform: translate(-50%, -50%);
    font-family: Outfit-Bold, sans-serif;
}
.title_sub{
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 5vh;
    color: #222;
    transform: translate(-50%, -50%);
    font-family: Outfit-Bold, sans-serif;
}
.constraint{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-style: dashed;
    border-width: 2px;
    border-color: #fff;
    border-radius: 0;
    cursor: pointer;
}
.constraint-text{
    color: #0a0a0a;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    text-align: center;
}
.cc{
    position: absolute;
    left: 40%;
    top: 30%;
    color: #0a0a0a;
    font-size: 4vh;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.flowers{
    position: absolute;
    left: 30%;
    top: 65%;
    color: #0a0a0a;
    font-size: 4vh;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.expand{
    position: absolute;
    left: 65%;
    top: 60%;
    color: #0a0a0a;
    font-size: 4vh;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.rm{
    position: absolute;
    left: 68%;
    top: 35%;
    color: #0a0a0a;
    font-size: 4vh;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.ff{
    position: absolute;
    left: 50%;
    top: 65%;
    color: #0a0a0a;
    font-size: 4vh;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.cc:hover, .flowers:hover, .expand:hover, .rm:hover, .ff:hover{
    font-size: 4.5vh;
}
#timer{
    color: #0a0a0a;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}
