body{
    background: #636564;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Mono', monospace;
}
.logo {
    position: fixed;
    /*font-family: "Roboto";*/
    font-family: 'IBM Plex Mono', monospace;
    line-height: 80px;
    margin-left: 2em;
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: lighter !important;
    /*text-transform: uppercase;*/
    z-index: 1;
    
}
.logo ion-icon {
    color: #6adb9d;
    margin-right: 7px;
    position: relative;
    top: 1px;
    z-index: 1;
}
.logo a{
    color: rgb(200,200,200);;
    text-decoration: none;
    
}
.logo-img{
    color: #6adb9d;
    margin-right: 7px;
    position: relative;
    top: 1px;
    z-index: 1;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
a{
    color: rgb(200,200,200);
    text-decoration: none;
}
.title{
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 4vh;
    color: #fff;
}
.constraint{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-style: dashed;
    border-width: 2px;
    border-color: #fff;
    border-radius: 0;
    cursor: pointer;
}
.constraint-text{
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    text-align: center;
}